relevé.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 

        <xs:simpleType name="ribType">
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{23}"/>
            </xs:restriction>
        </xs:simpleType>
        
        <xs:simpleType name="operationType">
            <xs:restriction base="xs:string">
                <xs:enumeration value="CREDIT"/>
                <xs:enumeration value="DEBIT"/>
            </xs:restriction>
        </xs:simpleType>
        
        <xs:element name="releve">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="dateReleve" type="xs:date"/>
                    <xs:element name="solde" type="xs:decimal"/>
                    <xs:element name="operations">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="operation" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:attribute name="type" type="operationType" use="required"/>
                                        <xs:attribute name="date" type="xs:date" use="required"/>
                                        <xs:attribute name="montant" type="xs:decimal" use="required"/>
                                        <xs:attribute name="description" type="xs:string" use="optional"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="dateDebut" type="xs:date" use="required"/>
                            <xs:attribute name="dateFin" type="xs:date" use="required"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="RIB" type="ribType" use="required"/>
            </xs:complexType>
        </xs:element>
        
    </xs:schema>
